/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
composer.lock
npm-debug.log
phpunit.xml
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
